openapi: 3.1.0
info:
  title: Varian ARIA FHIR AllergyIntolerance Metadata API
  description: The Varian ARIA FHIR R4 API provides SMART on FHIR access to oncology clinical data from the ARIA Oncology Information System (OIS). Enables EHR systems, clinical applications, and research tools to access patient-level oncology data including conditions, procedures, observations, care plans, medication requests, and diagnostic reports. The API is read-only and supports standard FHIR R4 search operations. Varian is a Siemens Healthineers company.
  version: R4-6.0.101
  contact:
    name: Varian FHIR Developer Portal
    url: https://varian.dynamicfhir.com
  termsOfService: https://varian.dynamicfhir.com
  license:
    name: Proprietary
    url: https://www.varian.com
servers:
- url: https://varian.dynamicfhir.com/fhir/varian/basepractice/r4
  description: Varian ARIA FHIR R4 API Server
security:
- OAuthSMARTonFHIR:
  - launch/patient
  - patient/Patient.read
  - patient/Condition.read
  - patient/Procedure.read
  - patient/Observation.read
tags:
- name: Metadata
  description: FHIR server capability and metadata
paths:
  /metadata:
    get:
      operationId: getCapabilityStatement
      summary: Get Capability Statement
      description: Returns the FHIR CapabilityStatement describing all supported resources, operations, and search parameters for this ARIA FHIR server.
      tags:
      - Metadata
      security: []
      responses:
        '200':
          description: FHIR CapabilityStatement
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/CapabilityStatement'
components:
  schemas:
    CapabilityStatement:
      allOf:
      - $ref: '#/components/schemas/FHIRResource'
      description: FHIR CapabilityStatement describing server capabilities
      properties:
        resourceType:
          type: string
          enum:
          - CapabilityStatement
        status:
          type: string
        date:
          type: string
          format: date-time
        kind:
          type: string
          enum:
          - instance
        fhirVersion:
          type: string
        rest:
          type: array
          items:
            type: object
    FHIRResource:
      type: object
      description: Generic FHIR R4 resource
      properties:
        resourceType:
          type: string
          description: FHIR resource type
        id:
          type: string
          description: Logical resource ID
        meta:
          type: object
          properties:
            versionId:
              type: string
            lastUpdated:
              type: string
              format: date-time
        text:
          type: object
          description: Human-readable narrative
      additionalProperties: true
  securitySchemes:
    OAuthSMARTonFHIR:
      type: oauth2
      description: SMART on FHIR OAuth 2.0 authorization
      flows:
        authorizationCode:
          authorizationUrl: https://varian-smart.dynamicfhir.com/core/connect/authorize
          tokenUrl: https://varian-smart.dynamicfhir.com/core/connect/token
          scopes:
            launch/patient: Patient context launch
            patient/Patient.read: Read patient demographics
            patient/Condition.read: Read patient conditions/diagnoses
            patient/Procedure.read: Read patient procedures
            patient/Observation.read: Read patient observations/labs
            patient/DiagnosticReport.read: Read diagnostic reports
            patient/CarePlan.read: Read care plans
            patient/MedicationRequest.read: Read medication requests
            patient/AllergyIntolerance.read: Read allergy records
            patient/DocumentReference.read: Read document references
            patient/Goal.read: Read treatment goals
